@import "../../scss/app.colors.scss";

.app-header {
    width: 100%;
    height: 120px;
    box-shadow: $light-shadow;

    section {
        height: 40%;

        &.light {
            background-color: $light-color-bg-plain;
        }
    
        &.dark {
            background-color: $dark-color-bg-plain;
        }
    }
}