@import "../../scss/app.colors.scss";
@import "../../scss/app.common.scss";

.app-header {
    width: 100%;
    height: $header-height;
    position: absolute;
    z-index: 1;

    &.light {
        box-shadow: $light-shadow;
    }

    &.dark {
        box-shadow: $dark-shadow;
    }
}