<div [ngClass]="[classPrefix]">
    <form 
        [formGroup]="isLogin ? loginForm : registerForm" 
        [ngClass]="[classPrefix + '__form']"
        (ngSubmit)="onSubmit()"
    >
        <div [ngClass]="[classPrefix + '__input-ctr']">
            <div 
                [ngClass]="[classPrefix + '__input-grp', input?.type === 'checkbox' ? 'check' : '']" 
                *ngFor="let input of inputsToUse"
            >
                <label>{{input?.title}}</label>
                <input 
                    type={{input?.type}} 
                    formControlName="{{input?.formControlName}}" 
                    required={{input?.isRequired}}
                >
                <span *ngIf="loginForm.get(input.formControlName)?.invalid">
                    *{{input?.message}}
                </span>
            </div>
        </div>

        <div [ngClass]="[classPrefix + '__btn-ctr']">
            <button type="submit" [disabled]="loginForm.invalid">
                {{isLogin ? 'Login' : 'Register'}}
            </button>
            <span>
                {{isLogin ? 'Register' : 'Login'}}
            </span>
        </div>
    </form>
</div>