$light-color-bg: #ef5350;
$light-color-bg-hover: #bc403e;
$light-color-bg-plain: #f7f7f7;
$light-color-tx: #fff;
$light-shadow: 0 1px 0 rgba(17,17,26,.1), 0 8px 24px rgba(17,17,26,.1), 0 16px 48px rgba(17,17,26,.1);

$dark-color-bg: #51A0D5;
$dark-color-bg-hover: #212121;
$dark-color-bg-plain: #272727;
$dark-color-bg-cover: #142129;
$dark-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$focus-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$light-btn-bg: $light-color-bg;
$light-btn-bg-hover: $light-color-bg-hover;

$dark-btn-bg: $dark-color-bg-plain;
$dark-btn-bg-hover: $dark-color-bg-hover;

$dark-btn-bg-secondary: $dark-color-bg;
$dark-btn-bg-secondary-hover: #3f7ea7;

$outline-color: #ffe200;