@import "../../../scss/app.colors.scss";
@import "../../../scss/app.font.scss";
@import "../../../scss/app.breakpoints.scss";
@import "../../../scss/app.common.scss";

.app-nav {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    &.light {
        background-color: $light-color-bg;
    }

    &.dark {
        background-color: $dark-color-bg-plain;
    }

    &__brand {
        width: 105px;
        height: 100%;
        background: url('../../../../assets/pokelogia-logo.png');
        background-size: cover;
        cursor: pointer;
    }

    &__links-ctr {
        display: none;
        min-width: $mobile-nav-width;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        &.light {
            background-color: $light-nav-mini-bg;
        }

        &.dark {
            background-color: $dark-color-bg-cover;
        }

        &.show {
            display: block;
        }
        
        &__brand-mini {
            width: 75%;
            height: 50px;
            margin: 0 auto 1em auto;
            padding-bottom: 4em;
            background: url('../../../../assets/pokelogia-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;

            &.light {
                border-bottom: 1px solid $light-color-tx;
            }
    
            &.dark {
                background-color: $dark-color-bg;
            }
        }

        &__links {
            font-size: $font-size-sm;
            display: inherit;
            list-style: none;
            text-decoration: unset;
    
    
            // @media only screen and (min-width: $mobile-l) {
            //     font-size: $font-size;
    
            //     font-size: $font-size-xs;
            //     display: inherit;
            //     list-style: none;
            //     text-decoration: unset;
            // }
    
            // @media only screen and (min-width: $mobile-l) {
            //     font-size: $font-size;
            // }
    
            li {
                height: 100%;
                padding: 0.5em;
                display: inherit;
                cursor: pointer;
                transition: 0.5s linear all;
    
                &.light:hover {
                    background-color: $light-color-bg-hover;
                }
    
                &.dark:hover {
                    background-color: $dark-color-bg-hover;
                }
    
                a {
                    height: inherit;
                    display: inherit;
                    align-items: center;
                    padding: 0 10px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: $light-color-tx;
                }

                &.theme {
                    text-align: center;

                    a {
                        padding: 0.2em;
                        border: 1px solid;
                        border-radius: 1em;

                        &.light {
                            border-color: $light-color-tx;
                        }
    
                        &.dark {
                            border-color: $dark-color-bg;
                        }
                    }
                }
            }
        }
    }

    &__btn-ctr {
        height: 100%;

        button {
            font-size: $font-size-icon;
            height: 100%;
            background: none;
            border: none;
            color: $light-color-tx;
            cursor: pointer;
            transition: 0.5s linear all;

            &:hover {
                color: $light-color-bg-hover;
            }
        }
    }
}