@import '../../scss/app.colors.scss';
@import '../../scss/app.common.scss';
@import '../../scss/app.pokemon-type-colors.scss';
@import '../../scss/app.font.scss';
@import '../../scss/app.breakpoints.scss';

.app-pokemonDetail {
    width: 100%;
    padding-top: $header-height;

    &.light {
        color: $dark-color-bg-plain;
        background-color: $light-color-bg-plain;
    }

    &.dark {
        color: $light-color-tx;
        background-color: $dark-color-bg-plain;
    }

    &__ctr-top {
        width: 100%;
        height: 9em;

        @media only screen and (min-width: $mobile-l) {
            height: 13em;
        }

        &.light {
            background-color: $light-color-bg;
            border-bottom: 2px solid $dark-color-bg-plain;
        }
    
        &.dark {
            color: $light-color-tx;
            border-bottom: 2px solid $dark-color-border;
        }

        &__img-grp {
            width: 10em;
            height: 10em;
            margin: 0 auto;
            position: relative;
            top: 1em;
            border-radius: 50%;

            &.light {
                border: 2px solid $dark-color-bg-plain;
                background-color: $light-color-bg-plain;
            }
        
            &.dark {
                border: 2px solid $dark-color-border;
                background-color: $dark-color-bg-cover;
            }

            &__img {
                width: 100%;

                img {
                    width: inherit;
                }
            }
        }

        &__title-grp {
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div {
                font-size: $detail-title-fs;

                .title {
                    margin-right: 8px;
                    &.light {
                        color: $dark-color-bg-plain;
                    }
                
                    &.dark {
                        color: $light-color-tx;
                    }
                }

                .id {
                    &.light {
                        color: $dark-color-bg-plain;
                    }
                
                    &.dark {
                        color: $outline-color;
                    }
                }
            }
        }

        &__details-ctr {
            width: 100%;
            padding: 0 2em 2em 2em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            @media only screen and (min-width: $lap) {
                height: 500px;
                flex-direction: row;
            }

            &__thmb-grp {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media only screen and (min-width: $lap) {
                    width: 60%;
                }

                .thumbnail {
                    width: 100%;
                    box-shadow: $focus-shadow;
                    margin-bottom: 1rem;
                }

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    li {
                        width: 25%;
                        box-shadow: $light-shadow;
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &__info-ctr {
                width: 100%;
                height: 100%;
                margin-top: 1rem;
                
                @media only screen and (min-width: $lap) {
                    width: 36%;
                }

                .info-grp {
                    width: 100%;
                    overflow: hidden;

                    .info {
                        width: inherit;
                        display: flex;
                        margin-bottom: 1em;
                        font-size: $detail-type-fs;
    
                        ul {
                            li {
                                margin-right: 1em;
                            }
                        }
                    }
    
                    .types {

                        @media only screen and (min-width: $mobile-l) {
                            color: $light-color-tx;
                        }

                        ul {
                            display: flex;
    
                            li {
                                padding: 4px 15px;
                                border: 1px solid none;
                                border-radius: 15px;
                            }
                        }
                    }
    
                    .abilities {
                        width: 100%;
                        height: 55px;
                        overflow-y: auto;

                        ul {
                            margin-left: 1em;
                        }
                    }
    
                    .stats {
                        &_base-stats {
                            margin-left: 2.5em;
    
                            li {
                                .stat {
                                    &-name {
                                        margin-right: 1em;
                                    }
    
                                    &-value{
                                        &__low-stat {
                                            color: $low-stat;
                                        }
        
                                        &__high-stat {
                                            color: $high-stat;
                                        }   
                                    }
                                }
                            }
                        }
                    }
    
                    .areas {
                        height: 7rem;
                        overflow-y: auto;

                        ul {
                            margin-left: 2em;
                        }
                    }
                }

                .btn-grp {
                    width: 100%;

                    .add-btn {
                        width: inherit;
                        padding: 10px;
                        border-radius: 15px;
                        color: $light-color-tx;
                        cursor: pointer;
                        box-shadow: $dark-shadow;
                        border: none;
                        
                        &.light {
                            background-color: $light-btn-bg;

                            &:hover {
                                background-color: $light-btn-bg-hover;
                            }
                        }
                    
                        &.dark {
                            background-color: $dark-btn-bg-secondary;

                            &:hover {
                                background-color: $dark-btn-bg-secondary-hover;
                            }
                        }

                        @media only screen and (min-width: $lap) {
                            width: 100%;
                        }
                    }
                }
            }

            &__seperator {
                width: 100%;
                height: 5em;

                &.light {
                    background: $light-color-bg;
                }
            
                &.dark {
                    background: $dark-color-bg;
                }
            }

            &__moves-grp {
                width: 100%;
                height: 500px;
                color: $light-color-tx;

                &.light {
                    background-color: $light-color-bg;
                }
            
                &.dark {
                    background-color: $dark-color-bg-cover;
                }

                span {
                    margin-left: 1em;
                }

                ul {
                    width: inherit;
                    height: inherit;
                    overflow-y: auto;

                    .move {
                        padding: 1em;

                        &.light {
                            background-color: $light-color-bg;

                            &:hover {
                                background-color: $light-color-bg-hover;
                            }

                            &.odd {
                                color: $dark-color-tx;
                                background-color: $light-color-bg-plain;

                                &:hover {
                                    background-color: $light-color-bg-plain-hover;
                                }
                            }
                        }
                    
                        &.dark {
                            background-color: $dark-color-bg-cover;

                            &:hover {
                                background-color: $dark-color-bg-hover;
                            }

                            &.odd {
                                background-color: $dark-color-bg-hover;
                            }
                        }
                    }
                }
            }
        }
    }

    &__ctr-bot {
        width: 100%;
        padding: 7em 1em;

        &.light {
            color: $dark-color-bg-plain;
            background-color: $light-color-bg-plain;
        }
    
        &.dark {
            color: $light-color-tx;
            background-color: $dark-color-bg-cover;
        }

        &__info-ctr {
            width: inherit;

            .info-grp {
                width: inherit;
                font-size: $font-size-md;

                &__types {
                    width: inherit;

                    ul {
                        display: flex;
                        
                        li {
                            width: 100px;
                            padding: 8px;
                            margin-right: 10px;
                            border-radius: 1em;
                            text-align: center;
                        }
                    }
                }

                &__abilities {
                    margin-top: 1em;

                    span {
                        margin-bottom: 1em;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: 10px;
                        }
                    }
                }

                &__stats {
                    display: flex;
                    margin-top: 10px;

                    span {
                        margin-right: 1.5em;
                    }

                    ul, li {
                        .stat {
                            &-name {
                                margin-right: 1em;
                            }

                            &-value{
                                &__low-stat {
                                    color: $low-stat;
                                }

                                &__high-stat {
                                    color: $high-stat;
                                }   
                            }
                        }
                    }
                }

                &__areas {
                    height: 8em;
                    margin-top: 1em;
                    display: flex;

                    span {
                        margin-right: 1em;
                    }

                    ul {
                        height: 100%;
                        overflow-y: scroll;
                    }
                }
            }
        }
    }
}