<section [ngClass]="[classPrefix, theme]">
    <div [ngClass]="[classPrefix + '__ctr', theme]">
        <div [ngClass]="[classPrefix + '__ctr__title-grp', theme]">
            <div>
                <span [ngClass]="['title', theme]">
                    {{pokemon.name}}
                </span>
                <span [ngClass]="['id', theme]">
                    #{{pokemon.id}}
                </span>
            </div>
        </div>
        <div [ngClass]="[classPrefix + ctrClassPrefix, theme]">
            <div [ngClass]="[classPrefix + ctrClassPrefix + '__thmb-grp', theme]">
                <img 
                    src="{{thumbnail || pokemon.sprites?.front_default}}" alt="pokemon being displayed"
                    class="thumbnail"
                >
                <ul>
                    <li (click)="setThumbnail(pokemon.sprites?.front_default)">
                        <img src="{{pokemon.sprites?.front_default}}" alt="">
                    </li>
                    <li (click)="setThumbnail(pokemon.sprites?.front_shiny)">
                        <img src="{{pokemon.sprites?.front_shiny}}" alt="">
                    </li>
                    <li (click)="setThumbnail(pokemon.sprites?.other?.['official-artwork']?.front_default)">
                        <img src="{{pokemon.sprites?.other?.['official-artwork']?.front_default}}" alt="">
                    </li>
                    <li (click)="setThumbnail(pokemon.sprites?.other?.['official-artwork']?.front_shiny)">
                        <img src="{{pokemon.sprites?.other?.['official-artwork']?.front_shiny}}" alt="">
                    </li>
                </ul>
            </div>
            <div [ngClass]="[classPrefix + ctrClassPrefix + '__info-ctr', theme]">
                <div [ngClass]="['info-grp']">
                    <div [ngClass]="['info', 'types']">
                        <ul>
                            <li *ngFor="let type of pokemon.types"
                                [ngClass]="[type.type.name + '-bg']"
                            >
                                {{type.type.name}}
                            </li>
                        </ul>
                    </div>
    
                    <div [ngClass]="['info', 'abilities']">
                        <span>Abilities:</span>
                        <ul>
                            <li *ngFor="let ability of pokemon.abilities">
                                {{ability.ability.name}}
                            </li>
                        </ul>
                    </div>
    
                    <div [ngClass]="['info', 'stats']">
                        <span>Stats:</span>
                        <ul [ngClass]="['stats_base-stats']">
                            <li *ngFor="let stat of pokemon.stats">
                                <span class="stat-name">{{stat.stat.name}}:</span>
                                <span [ngClass]="['stat-value' + checkStats(stat.base_stat)]">{{stat.base_stat}}</span>
                            </li>
                        </ul>
                    </div>
    
                    <div [ngClass]="['info', 'areas']">
                        <span>Areas: </span>
                        <ul>
                            <li *ngFor="let area of areas">
                                <span [ngClass]="['area']">
                                    {{area.location_area.name}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div [ngClass]="['btn-grp', theme]">
                    <button 
                        [ngClass]="['add-btn', theme]"
                        (click)="addToBelt()"
                    >
                        {{checkIfAddedToBelt() ? 'Already added!' : 'I choose you!'}}
                    </button>
                </div>
            </div>
        </div>
        <div [ngClass]="[classPrefix + ctrClassPrefix + '__moves-ctr']">
            Moves, coming soon!
        </div>
    </div>
</section>