<section [ngClass]="[classPrefix, ( isDark$ | async ) ? 'dark' : 'light']">

    <div [ngClass]="[classPrefix + '__ctr-top', ( isDark$ | async ) ? 'dark' : 'light']">

        <div [ngClass]="[classPrefix + '__ctr-top' + '__title-grp', ( isDark$ | async ) ? 'dark' : 'light']">
            <div>
                <span [ngClass]="['title', ( isDark$ | async ) ? 'dark' : 'light']">
                    {{pokemon.name}}
                </span>
                <span [ngClass]="['id', ( isDark$ | async ) ? 'dark' : 'light']">
                    #{{pokemon.id}}
                </span>
            </div>
        </div>

        <div [ngClass]="[classPrefix + '__ctr-top__img-grp', ( isDark$ | async ) ? 'dark' : 'light']">
            <div [ngClass]="[classPrefix + '__ctr-top__img-grp' + '__img', ( isDark$ | async ) ? 'dark' : 'light']">
                <img 
                    src="{{thumbnail || pokemon.sprites?.front_default}}" alt="pokemon being displayed"
                    class="thumbnail"
                >
            </div>
        </div>

    </div>

    <div [ngClass]="[classPrefix + '__ctr-bg', ( isDark$ | async ) ? 'dark' : 'light']">

        <div [ngClass]="[classPrefix + '__ctr-bot', ( isDark$ | async ) ? 'dark' : 'light']">

            <div [ngClass]="[classPrefix + '__ctr-bot' + '__info-ctr', ( isDark$ | async ) ? 'dark' : 'light']">
                <div [ngClass]="['info-grp']">
    
                    <div [ngClass]="['info-grp' + '__thmbs', ( isDark$ | async ) ? 'dark' : 'light']">
                        <ul>
                            <li (click)="setThumbnail(pokemon.sprites?.front_default)">
                                <img src="{{pokemon.sprites?.front_default}}" alt="">
                            </li>
                            <li (click)="setThumbnail(pokemon.sprites?.front_shiny)">
                                <img src="{{pokemon.sprites?.front_shiny}}" alt="">
                            </li>
                            <li (click)="setThumbnail(pokemon.sprites?.other?.['official-artwork']?.front_default)">
                                <img src="{{pokemon.sprites?.other?.['official-artwork']?.front_default}}" alt="">
                            </li>
                            <li (click)="setThumbnail(pokemon.sprites?.other?.['official-artwork']?.front_shiny)">
                                <img src="{{pokemon.sprites?.other?.['official-artwork']?.front_shiny}}" alt="">
                            </li>
                        </ul>
                    </div>
    
                    <div [ngClass]="['info-grp' + '__types']">
                        <ul>

                            @for (type of pokemon.types; track $index) {
                                <li [ngClass]="[type.type.name + '-bg']">
                                    {{type.type.name}}
                                </li>
                            }

                        </ul>
                    </div>
    
                    <div [ngClass]="['info-grp' + '__abilities']">
                        <span>Abilities:</span>
                        <ul>

                            @for (ability of pokemon.abilities; track $index) {
                                <li>
                                    {{ability.ability.name}}
                                </li>
                            }
                            
                        </ul>
                    </div>
    
                    <div [ngClass]="['info-grp' + '__stats']">
                        <span>Stats:</span>
                        <ul [ngClass]="['stats_base-stats']">
                            @for (stat of pokemon.stats; track $index) {
                                <li>
                                    <span class="stat-name">
                                        {{stat.stat.name}}:
                                    </span>
                                </li>
                            }
                        </ul>
                        <ul>
                            @for (stat of pokemon.stats; track $index) {
                                <li>
                                    <span [ngClass]="['stat-value' + checkStats(stat.base_stat)]">
                                        {{stat.base_stat}}
                                    </span>
                                </li>
                            } 
                        </ul>
                    </div>
    
                    @if(areas.length) {
                        <!-- old syntax -->
                        <!-- <div *ngIf="areas.length" [ngClass]="['info-grp' + '__areas']"> -->
                        <div [ngClass]="['info-grp' + '__areas']">
                            <span>Areas: </span>
                            <ul>
                                @for (area of areas; track $index) {
                                    <li 
                                        [ngClass]="[( isDark$ | async ) ? 'dark' : 'light']"
                                        [class.odd]="$odd"
                                        [class.even]="$even"
                                    >
                                        <span [ngClass]="['area']">
                                            {{area.location_area.name}}
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                    @else {
                        <div>No areas to be found at</div>
                    }

                    <div [ngClass]="['info-grp' + '__moves', ( isDark$ | async ) ? 'dark' : 'light']">
                        <div [ngClass]="['moves-grp', ( isDark$ | async ) ? 'dark' : 'light']">
                            <span>Moves:</span>
                            <ul>

                                @for (move of pokemon.moves; track $index) {
                                    <!-- instead of ($index % 2 == 1) ? 'odd' : '', we can use [class.odd or even] -->
                                    <li
                                        [ngClass]="['move',  ( isDark$ | async ) ? 'dark' : 'light']"
                                        [class.odd]="$odd"
                                        [class.even]="$even"
                                        
                                    >
                                        {{move.move.name}}
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
    
        </div>
    
        <div [ngClass]="[classPrefix + '__btn-grp', ( isDark$ | async ) ? 'dark' : 'light']">
            <button 
                [ngClass]="['add-btn', ( isDark$ | async ) ? 'dark' : 'light']"
                (click)="addToBelt(pokemon.name + ' has been added to the belt!')"
            >
                {{buttonTextHandler()}}
            </button>
        </div>
    </div>
</section>