@import '../../scss/app.colors.scss';
@import '../../scss/app.common.scss';
@import '../../scss/app.pokemon-type-colors.scss';
@import '../../scss/app.font.scss';
@import '../../scss/app.breakpoints.scss';

.app-pokemonDetail {
    width: 100%;
    padding-top: $header-height;

    &.light {
        color: $dark-color-bg-plain;
        background-color: $light-color-bg-plain;
    }

    &.dark {
        color: $light-color-tx;
        background-color: $dark-color-bg-plain;
    }

    &__ctr-top {
        width: 100%;
        height: 9em;

        @media only screen and (min-width: $mobile-l) {
            height: 13em;
        }

        &.light {
            background-color: $light-color-bg;
            border-bottom: 2px solid $dark-color-bg-plain;
        }
    
        &.dark {
            color: $light-color-tx;
            border-bottom: 2px solid $dark-color-border;
        }

        &__img-grp {
            width: 10em;
            height: 10em;
            margin: 0 auto;
            position: relative;
            top: 1em;
            border-radius: 50%;

            @media only screen and (min-width: $mobile-l) {
                top: 5em;
            }

            &.light {
                border: 2px solid $dark-color-bg-plain;
                background-color: $light-color-bg-plain;
            }
        
            &.dark {
                border: 2px solid $dark-color-border;
                background-color: $dark-color-bg-cover;
            }

            &__img {
                width: 100%;

                img {
                    width: inherit;
                }
            }
        }

        &__title-grp {
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div {
                font-size: $detail-title-fs;

                .title {
                    margin-right: 8px;
                    &.light {
                        color: $dark-color-bg-plain;
                    }
                
                    &.dark {
                        color: $light-color-tx;
                    }
                }

                .id {
                    &.light {
                        color: $dark-color-bg-plain;
                    }
                
                    &.dark {
                        color: $outline-color;
                    }
                }
            }
        }

    }

    &__ctr-bot {
        width: 100%;
        padding: 6em 1em 0 1em;

        &.light {
            color: $dark-color-bg-plain;
            background-color: $light-color-bg-plain;
        }
    
        &.dark {
            color: $light-color-tx;
            background-color: $dark-color-bg-cover;
        }

        &__info-ctr {
            width: inherit;

            .info-grp {
                width: inherit;
                font-size: $font-size-md;

                &__thmbs {
                    margin-bottom: 1em;
                    ul {
                        width: inherit;
                        display: flex;
                        justify-content: space-around;

                        li {
                            width: 50px;
                            height: 50px;
                            box-shadow: $light-shadow;

                            img {
                                width: inherit;
                                height: inherit;
                            }
                        }
                    }
                }

                &__types {
                    width: inherit;

                    ul {
                        display: flex;
                        
                        li {
                            width: 100px;
                            padding: 8px;
                            margin-right: 10px;
                            border-radius: 1em;
                            text-align: center;
                        }
                    }
                }

                &__abilities {
                    display: flex;
                    margin-top: 1em;

                    span {
                        margin-bottom: 1em;
                    }

                    ul {
                        li {
                            margin-right: 10px;
                        }
                    }
                }

                &__stats {
                    display: flex;
                    margin-top: 10px;

                    span {
                        margin-right: 1.5em;
                    }

                    ul, li {
                        .stat {
                            &-name {
                                margin-right: 1em;
                            }

                            &-value{
                                &__low-stat {
                                    color: $low-stat;
                                }

                                &__high-stat {
                                    color: $high-stat;
                                }   
                            }
                        }
                    }
                }

                &__areas {
                    height: 8em;
                    margin-top: 1em;
                    display: flex;

                    span {
                        margin-right: 1em;
                    }

                    ul {
                        height: 100%;
                        overflow-y: scroll;
                    }
                }
            }
        }
    }

    &__btn-grp {
        width: 100%;
        padding: 1em;

        &.light {
            color: $light-color-tx;
            background-color: $light-color-bg-plain;
        }
    
        &.dark {
            color: $light-color-tx;
            background-color: $dark-color-bg-cover;
        }

        button {
            width: inherit;
            padding: 1em;
            border-radius: 1em;

            &.light {
                color: $light-color-tx;
                background-color: $light-color-bg;
            }
        
            &.dark {
                color: $light-color-tx;
                background-color: $dark-color-bg;
            }
        }
    }
}